[package]
name = "api"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full"] }
anyhow = "1"
poem = "3.1.12"
serde = { version = "1.0.228", features = ["derive"] }
store = { path = "../store" }